@using TechStoreMVC.Entities
@using TechStoreMVC.Models.Product
@model ProductToBasketModel

@{
	ViewData["Title"] = Model.CategoryName;
}

<h1 class="text-center">@Model.CategoryName</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"]" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table text-center">
    <thead>
        <tr>
            @if (ViewBag.Role == "admin")
            {
                <th scope="col">#</th>
            }
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
            <th></th>
            <th scope="col">Add to basket</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in ViewBag.Products)
        {
            <tr class="align-middle">
                @if (ViewBag.Role == "admin")
                {
                    <td>@p.Id</td>
                }
                <td class="e">@p.Brand</td>
                <td>@p.Model</td>
				<td>@p.PriceText</td>
                <td><a class="btn btn-secondary">Product Details</a></td>
                <td>
                    <form asp-action="AddProductToBasket" asp-controller="Basket">
                        <input asp-for="Quantity" type="number" min="1" max="10" value="1">
                        <input asp-for="CategoryName" type="hidden" value="@Model.CategoryName">
                        <input asp-for="Id" type="hidden" value="@p.Id">
                        <button type="submit" class="btn btn-light">Přidat do košíku</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

